<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_SolrRemoteDebug>
            <version>0.1.0</version>
        </IntegerNet_SolrRemoteDebug>
    </modules>
    <global>
        <models>
            <integernet_solrremotedebug>
                <class>IntegerNet_SolrRemoteDebug_Model</class>
            </integernet_solrremotedebug>
        </models>
        <blocks>
            <integernet_solrremotedebug>
                <class>IntegerNet_SolrRemoteDebug_Block</class>
            </integernet_solrremotedebug>
        </blocks>
    </global>

    <frontend>
        <layout>
            <updates>
                <integernet_solrremotedebug>
                    <file>integernet/solr/remotedebug.xml</file>
                </integernet_solrremotedebug>
            </updates>
        </layout>
        <events>
            <integernet_solr_before_search_request>
                <observers>
                    <integernet_solrremotedebug>
                        <type>singleton</type>
                        <class>integernet_solrremotedebug/observer</class>
                        <method>integernetSolrBeforeSearchRequest</method>
                    </integernet_solrremotedebug>
                </observers>
            </integernet_solr_before_search_request>
            <integernet_solr_after_search_request>
                <observers>
                    <integernet_solrremotedebug>
                        <type>singleton</type>
                        <class>integernet_solrremotedebug/observer</class>
                        <method>integernetSolrAfterSearchRequest</method>
                    </integernet_solrremotedebug>
                </observers>
            </integernet_solr_after_search_request>
        </events>
    </frontend>
</config>